* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background-color: #000;
    background-image: url('https://www.ledr.com/colours/white.jpg');
    background-size: cover;
    background-position: center;
    place-items: center;
}

body .form_container {
    display: flex;

    justify-content: center;
    align-items: center;
    min-height: 50vh;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
    font-size: 1.5rem;
    text-decoration-color: white;
    
}

a:hover {
    color: grey;
    text-decoration: underline;
    text-underline-offset: 1rem;
}
a:active{
    scale: 0.95
}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 2rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action_btn {
    background-color: orange;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    transition: scale 0.2 ease;
}

.action_btn:hover {
    scale: 1.05;
    color: #fff;
}

.action_btn:active {
    scale: 0.95;
}

/* Contact me form*/
.form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    text-align: center;
    margin: auto;
    padding-top: 5vh;
    padding-bottom: 5vh;
    border-radius: 20px;
outline: black;
    max-width: 480px;
    background: transparent;
    
}

.form_container h1 {
    color: black;
}

.form_container .input_container {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.field{
	width: 100%;
	border: 2px solid rgba(255, 255, 255, .2);
    color: black;
	outline: black;
	background: black;
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
	margin-bottom: 22px;
	transition: .3s;
    border-radius: 20px;
}
.input_container_message textarea::placeholder {
    color: white;
}


textarea{
	min-height: 150px;
}
.input_container input {
    width: 100%;
    height: 95%;
    background: transparent;
    border: none;
    outline: black;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input_container input::placeholder {
    color: #fff;
}

.form_container button {
    width: 100%;
    height: 45px;
    background: #ce9f11;
    border: none;
    outline: none;
    margin-top: 10px;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transition: 0.3s ease;
    
}
.form_container button:hover{
    cursor: pointer;
    background: #ffc000;
    box-shadow: 0 0 5px #ffc000,
                0 0 20px #ffc000,
                0 0 60px #ffc000; 
}
/* Thanks message*/
.thanks_msg {
    justify-content: center;
    text-align: center;
    color: #fff;
}
.thanks_msg .card-head{
    padding-top: 100px;
font-size: 50px;
}
.thanks_msg .card-subhead{
padding-top: 10px;
    font-size: 25px;
    }
/* Email input 

.input_container {
    position: relative;
    max-width: 400px;
    margin: auto;
}

.input_container input {
    width: 100%;
    padding: 18px 0 5px 0;
    border: 0;
    outline: 0;
    background-color: transparent;
    color: #fff;
    border-bottom: 3px solid orange;
    font-size: 18px;
    letter-spacing: 1px;

}

.input_container label {
    position: absolute;
    top: 20px;
    left: 0;
    letter-spacing: 5px;
    cursor: pointer;
    color: antiquewhite;
}

.input_container label span {
    display: inline-block;
    font-size: 20px;
    transition: 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.input_container input:focus+label span,
.input_container input:valid+label span {
    transform: translateY(-35px);
}
*/
/* Dropdown Menu */
.dropdown_menu {
    display: none;
    position: absolute;
    right: 2rem;
    top: 50px;
    width: 300px;
    height: 0;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu.open {
    height: 190px;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Responsive design*/
@media(max-width: 992px) {

    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn {
        display: block;

    }

    .dropdown_menu {
        display: block;
    }
}

@media(max-width: 576px) {
    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
